<h1 class="list-header">Watchlist</h1>

<div class="list-container">
    <% watchlists.forEach(watchlist => { %>
        <div>
            <a href="/watchlist/movie/<%= watchlist.imdbID %>"><h3><%= watchlist.title %></h3></a>
            <p><% watchlist.comment %></p>
            <a href="/watchlist/<%= watchlist."
    
            <form class="list-button" method="POST" action="/watchlist">
                <input type="hidden" name="title" value="<%= movie.Title %>">
                <input type="hidden" name="imdbID" value="<%= movie.imdbID %>">
                <input type="submit" value="Remove your Watchlist">
            </form>
        </div>
    <% }) %>
</div>

<div class="form-container form-align-with-list">
    <p>Search for a title to add to your Watchlist</p>
    <form class="align-with-list" action="/watchlist/results" method="GET" target="_blank">
        <input type="text" name="search" />  
        <input type="submit" />
    </form>
</div>