<h1 class="details-header"><%= movie.Title %></h1>
<div class="details-container">
    <div id="image-details">
        <img src="<%= movie.Poster %>">
    </div>
    <div class="text-details">
        <h3>Director: <%= movie.Director %></h3>
        <h3>Year: <%= movie.Year %></h3>
        <h3>Starring: <%= movie.Actors %></h3>
        <h3>Genre: <%= movie.Genre %></h3>
        <h3>Awards: <%= movie.Awards %></h3>
        <h3>IMDb User Rating: <%= movie.imdbRating %>/10</h3>
        <h3>Your Rating: <%= movielog.rating %>/5</h3>
        <h3>Your Review: <%= movielog.rating %></h3>
        
        <div class="update-holder">
            <p>Update your rating & review:</p>
            <form method="POST" action="/movielog/movie/<%= movielog.imdbID %>/?_method=PUT">
                <label>Rating</label>
                <input type="number" name="comment" value="<%= movielog.rating %>" min="0" max="5"/>
                
                <label>Review</label>
                <input type="text" name="comment" value="<%= movielog.review  %>"/>
                <input type="submit" value="Update" />
            </form>
        </div>

        <div class="delete-holder">
            <form method="POST" action="/movielog/movie/<%= movielog.imdbID %>/?_method=DELETE">
                <input type="submit" value="Delete movie from your Movielog" />
            </form>
        </div>
    </div>
</div>